@font-face {
  font-family: 'Savate';
  src: url("./assets/fonts/Savate-VariableFont_wght.ttf");
}

body {
  font-family: 'Savate';
}

* {
  box-sizing: border-box;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  
}

.nav-list {
  display: flex;
  gap: 32px;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  background-color: pink;
  height: 100px;
  padding: 20px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.about {
  width: 500px;
 

}

h1 {
  font-size: 48px;
  text-shadow: 4px 4px grey;
}

#section__about {
  background-color: pink;
  color: white;
  text-align: justify;
  box-shadow: 4px 4px grey;
  padding: 10px;
}

.skills__list {
  background-color: gainsboro;
  padding: 10px;
  border: 1px solid pink;
  padding-left: 40px;
  box-shadow: 4px 4px pink;
}

.contacts__list {
  background-color: gainsboro;
  padding: 10px;
  border: 1px solid pink;
  padding-left: 40px;
  box-shadow: 4px 4px pink;
}

.education__list {
  background-color: gainsboro;
  padding: 10px;
  border: 1px solid pink;
  padding-left: 40px;
  box-shadow: 4px 4px pink;
}

.projects__list {
  background-color: gainsboro;
  padding: 10px;
  border: 1px solid pink;
  padding-left: 40px;
  box-shadow: 4px 4px pink;
}

pre {
  font-size: 16px;
}

#section__code {
  background-color: pink;
  color: white;
  text-align: justify;
  box-shadow: 4px 4px grey;
  padding: 10px;
  line-height: 0cqmin;
}

.logo {
  width: 120px;
  height: 90px;
}

footer {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: pink;
  height: 100px;
  padding: 20px;
  margin-top: 30px;
}

.position {
  font-size: 32px;
}

#section__english {
  padding-top: 50px;
}

