@font-face {
  font-family: 'Savate';
  src: url("./assets/fonts/Savate-VariableFont_wght.ttf");
}

body {
  font-family: 'Savate';
}

* {
  box-sizing: border-box;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  gap: 32px;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  background-color: pink;
  height: 100px;
}