@font-face {
  font-family: 'Savate';
  src: url("./assets/fonts/Savate-VariableFont_wght.ttf");
}

* {
  font-family: 'Savate';
}

* {
  box-sizing: border-box;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}